In [25]:
my_set = set([1, 2, 3])
my_set

{1, 2, 3}

In [26]:
my_other_set = {1, 2, 3}

In [27]:
my_set == my_other_set

True

In [28]:
my_set == {3, 2, 1}

True

In [29]:
a, b = {1, 2, 3}, {5, 6, 7}

In [30]:
a.union(b)

{1, 2, 3, 5, 6, 7}

In [31]:
a.add(4)
a

{1, 2, 3, 4}

In [33]:
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7}

In [34]:
b

{5, 6, 7}

In [35]:
a.remove(5)
a

{1, 2, 3, 4, 6, 7}

In [36]:
a.intersection(b)

{6, 7}

In [47]:
a = set(range(1,11))
b = set(range(5,16))

In [38]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
b

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [40]:
a.add(11)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [43]:
b.add('hello')
b

{10, 11, 12, 13, 14, 15, 5, 6, 7, 8, 9, 'hello'}

In [44]:
a.intersection(b)

{5, 6, 7, 8, 9, 10, 11}

In [48]:
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [53]:
my_list = range(100000000)

In [54]:
my_set = set(my_list)

In [55]:
timeit 100000000 in my_list

57.7 ns ± 0.397 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [56]:
timeit 100000000 in my_set

32.5 ns ± 0.345 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [58]:
first_list = ['hello', 'there', 'things', 'stuff', 'other', 'soda', 'chicken wings', 'things', 'soda']
second_list = ['turkey sandwich', 'guacamole', 'chicken wings', 'OJ', 'soda']

In [64]:
first_set = set(first_list)
commons = first_set.intersection(second_list)
commons

{'chicken wings', 'soda'}

In [63]:
'pizza' in commons

False